body {
  margin: 0;
  font-family: pretendard, sans-serif;
background: rgba( 255, 255, 255, 0.15 );}

/* 상단 네비게이션 */
.navbar {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px 20px;
  justify-content: space-between;
}
.nav-left, .nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-left a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 20px;
}
.nav-left a.active {
  background-color: #1a1a1a;
}
.cash {
  font-size: 14px;
}

.logout {
  font-size: small;
  color:white;
  text-decoration:none;
}

.gamePlayBtn {
  background-color: #00c853;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
}
.container {
  display: flex;
  padding: 40px;
  gap: 40px;
  justify-content: left;
  margin: auto;
}